<!DOCTYPE html>
<html>
<head>
<style>

body {
  color:blue;
}
.div {color:yellow;
}

h1 {
  color: green;
}
h2{
color:blue;}
</style>
</head>
<body>

<h1>Автобіографія<h1>
<h2><p>Я,Першин Сергій Сергійович,народився у місті Дніпро 16 серпня 1992 року.</p>
<p class ="div"> В 1998 році пішов у перший класс середньої школи номер 89.</p>
<p>Після закінчення 11 класів,в 2009 році продовжив навчання в Дніпропетровський Національний університет залізничного транспорту.</p>
<p>В 2014 році закінчив навчання в університеті.</p>
<p>В 2016 році іммігрував у Чешську Республіку.</p>
<p>З 2017 року по теперішній час працюю на заводі-IMP,в місті Liberec.</p>
<p>Проживаю за адресою-місто Ліберець,вулиця будівників 3395</p>
<h2>

</body>
</html>


